.header{
  position: fixed;
  flex:0 0 auto;
  height: 90px;
  width: 100%;
  background-color: orange;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-family: Impact;
}
.header img{
  margin-left: 90px;
  height: 90px;
  width: 90px;
}

.logo{
  display: flex;
  align-items: center;
}

.dropdown{
  padding-right: 90px;
}

.dropdown select{
  font-size: 20px;
}
