.header{
  position: fixed;
  flex:0 0 auto;
  height: 90px;
  width: 100%;
  background-color: #FCBB0D;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-family: Impact;
}
.header img{
  margin-left: 90px;
  height: 90px;
  width: 90px;
}

.logo{
  display: flex;
  align-items: center;
}
.buttons{
  padding-right: 500px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons button{
  height: 40px;
  width: 70px;

  margin: 20px;


  font-size: 20px;
  color: white;

  border: 3px solid white;
  background-color: #FCBB0D;
  border-radius: 5px;
}
.buttons button:hover{
  background-color: #F89609;

}

.dropdown{
  padding-right: 90px;
}

.dropdown select{
  font-size: 20px;
}
