.main{
  flex:1 0 auto;
  margin-top: 90px;
  height: 100%;
  width: 100%;

  display: flow-root;
  align-items: center;
  justify-content: center;

  font-family: Impact;
}
.row{
  width: 80%;
  margin-right: 100px;
  margin-left: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.lot{
  width: 25%;
}
